.label {
    margin-bottom: 0.8rem;
    font-weight: 600;
}
.input-group {
    font-size: large;
    margin-bottom: 4rem;
    font-weight: 600;
    width: 200px;
}
.label-range {
    margin-bottom: 2.5rem;
}